html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
    background: #fcfcfc;
    display: flex;
    justify-content: center;
}

.app-container {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    background: url(./assets/bg.png);
}
